.invoice-list {
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.invoice-header {
    display: flex;
    justify-content: space-between;
}

  .invoice-list h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .invoice-list ul {
    list-style: none;
    padding: 0;
  }

  .invoice-list li {
    margin-bottom: 10px;
  }

  .invoice-list a {
    text-decoration: none;
    color: #007bff;
  }

  .invoice-list a:hover {
    text-decoration: underline;
    color: #0056b3;
  }
