.generate-invoice-page {
    margin: 0 auto;
    padding: 20px;
}

.erorr-message {
    color: red;
    font-weight: bold;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invoice-body {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
    margin-bottom: 15px;
}

.checkbox-container {
    margin: 10px 0;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping if there are many checkboxes */
    gap: 10px; /* Spacing between checkboxes */
}

.checkbox-label {
    display: flex;
    align-items: center; /* Aligns checkbox with text */
    gap: 5px; /* Space between checkbox and text */
}

.checkbox-label label {
    margin-top: 0px;
}

.checkbox-label input {
    margin-bottom: 0px;
}