.about {
    padding: 20px;
    text-align: center;
  }

  .about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .about p {
    font-size: 1.2rem;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
  }

  main {
    padding: 20px;
  }

  .section {
    padding: 40px 20px;
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section ul {
  list-style: none;
  padding: 0;
}

img.section-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

#services {
  color: white;
}

#contact {
  color: white;
}

#what-we-do {
  color: white;
}

#about {
  color: white;
}
