.manage-orders {
    min-height: 100vh;
    background-color: #f9f9f9;
  }

  .order-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: white;
}

.order-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.order-items-table {
    width: 100%;
    border-collapse: collapse;
}

.order-items-table th, .order-items-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.orders-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-update-area {
  display: flex;
  flex-direction: column;
}

  .manage-orders h2 {
    font-size: 24px;
    color: #333;
  }

  .order-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.order-modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-image-container {
    text-align: center;
    margin-top: 10px;
}

.modal-image {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.update-btn, .close-btn {
    padding: 10px;
    border: none;
    cursor: pointer;
}

.update-btn {
    background-color: #003366;
    color: white;
}

.close-btn {
    background-color: #003366;
    color: white;
}

.place-order-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.place-order-btn:hover {
  background-color: #003366;
}

.order-popup .order-image {
  text-align: left;
}

.tabs {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.tabs button {
  padding: 10px 20px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tabs button.active {
  background-color: #003366;
  color: white;
}

.print-btn {
  background-color: #003366;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.print-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.search-bar {
  margin-top: 20px;
}

.print-btn {
  margin: 0;
}

.row-pending {
  background-color: lightblue;
  border: 2px solid;
  border-color: #003366;
}

