.order-history-page {
    padding: 20px;
}

.order-history-container {
    margin: 0 auto;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.order-table th {
    background-color: #f2f2f2;
    color: black;
}

.order-table tr:hover {
    background-color: #ddd;
}

.order-table select {
    padding: 5px;
}

.order-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.tabs {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.tabs button {
    padding: 10px 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tabs button.active {
    background-color: #007bff;
    color: white;
}

.print-btn {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
  }

  .print-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }